.todoList {
  box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.12);
  line-height: 2em;
  list-style: none;
  width: 400px;
  padding: 0;
}

.todoList > li {
  padding: 20px 40px;
  margin: 0;
  border-bottom: 1px solid #f1f1f1;
}

.todoList > li:hover {
  background-color: #0197f630;
  cursor: pointer;
}
